################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework 0/Homework0/.vs/Homework0/v15
/Homework 0/Homework0/setup/.vs/setup/v15
